[Unit]
Description=D-bus power autoswitch 

[Service]
Type=simple
ExecStart=/home/raynor/.cargo/bin/cloud-power
Restart=on-failure
User=raynor
After=system76-power.service

[Install]
WantedBy=multi-user.target
